<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view>
    <h:head>
        <title>JSF test</title>
        <h:outputStylesheet name="css/default.css"/>
    </h:head>

    <h:body>
        Hallo! :)
        #{testBean.test}
    </h:body>
    </f:view>
</html>
