<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:form>
        <h:messages/>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="username" value="Username:"/>
            <p:inputText value="#{loginBean.username}"
                         id="username" required="true" label="username"/>
            <h:outputLabel for="password" value="Password:"/>
            <h:inputSecret value="#{loginBean.password}"
                           id="password" required="true" label="password"/>
            <f:facet name="footer">
                <p:commandButton id="loginButton" value="Login" action="#{loginBean.login}"
                                 style="height: 30px; font-size: 12px"/>
                <p:commandButton type="reset" value="Clear" style="height: 30px; font-size: 12px"/>
            </f:facet>
        </h:panelGrid>
    </h:form></f:view>
</html>
